div{
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
    
div.map_posi{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
    
div.icons{
    width: 3%;
    position: absolute;
    z-index:3;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    border-right: solid 1px rgb(217, 217, 217);
}

div.top_space{
    width: 21%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 3%;
    transition: 0.3s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 18vh;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: solid 1px rgb(217, 217, 217);
}
    
div.main{
    width: 21%;
    position: absolute;
    z-index: 2;
    top: 18vh;
    left: 3%;
    transition: 0.3s;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 82vh;
    overflow: auto;
    background-color: #ffffff;
};

div.sns_button{
    background: none;
    border:0;
    font-size: 5px;
    color: #000;
    position: absolute;
    cursor: pointer;
}

div.sns_sidebar{
    width: 21%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 3%;
    z-index: 99;
    background-color: #ffffff;
    overflow-y: scroll;
    transition: 0.3s;
    transition-timing-function: ease;
}

div.sidebar_close{
    width: auto;
    height: 10%;
    position: fixed;
    background: none;
    top: 50%;
    left: 24%;
    z-index: 100;
    transition-timing-function: ease;
}

div.close_button{
    font-size: 30px;
    color: #fff;
    position: absolute;
    z-index: 101;
    top:15px;
    right: 5px;
    cursor: pointer;
}