<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>navermap</title>

    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fxqxlpqj6o"></script>
    <style>
        div{
            width:100%;
            height:100vh;
            border: 0px solid #003458;
        }
        div.icons{
            width:2%;
            float: left;
            box-sizing: border-box;
            border: 0px solid #003458;
        }
        div.main{
            width:23%;
            float: left;
            box-sizing: border-box;

        }
        div.right{
            width:75%;
            float: right;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="icons">
            <a class="btn btn-primary" href="{% url 'main:store' %}"> login</a>
        </div>
        <div class="main">
            <!-- 메인파트내용 -->
            {% block content %}
            {% endblock %}
            <!-- 끝 -->
        </div>
        <div class="right">
            <div id="map" style="width:100%;height:100%;"></div>
        </div>
        
    </div>

    <!-- 자바스크립트 시작 -->
    <!-- {% block script %} -->
    <script>
        var mapDiv = document.getElementById('map');
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 10
        });
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.3595704, 127.105399),
            map: map
        });
        naver.maps.Event.addListener(markers, 'click', getClickHandler);
        </script>
    <!-- {% endblock %} -->
    <!-- 자바스크립트 끝 -->
</body>
</html>