{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>navermap</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fxqxlpqj6o"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'floating.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>
<body>
    <div class="container">
        <div class="icons">
            <a class="nav-link" href="{%url 'login:login' %}">login</a>
            
        </div>

        <!-- 햄버거 메뉴 -->
        <input type="checkbox" id="trigger" >
        <label for="trigger">
            <!-- 햄버거 세줄 표현 -->
            <span></span>
            <span></span>
            <span></span>
        </label>
        <label for="box"></label>
        <div class="main">
            <!-- 메인파트내용 -->
            {% block content %}
            {% endblock %}
            <!-- 끝 -->
        </div>

        <div class="map_posi">
            <div id="map"></div>
        </div>
    </div>

    
    <!-- 자바스크립트 시작 -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'basic.js' %}"></script>
    <!-- {% block script %} -->
    <!-- {% endblock %} -->
    <!-- 자바스크립트 끝 -->
</body>
</html>
