{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>navermap</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fxqxlpqj6o&submodules=geocoder"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'floating.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="icons">
            {% if user.is_authenticated %}
            <a class = "login-link" href="{%url 'main:logout' %}">logout</a>
            {% else %}
            <a class = "login-link" href="{%url 'main:login' %}">login</a>
            {% endif %}
        </div>

        <!-- 햄버거 메뉴 -->
        <input type="checkbox" id="trigger" >
        <label for="trigger">
            <!-- 햄버거 세줄 표현 -->
            <span></span>
            <span></span>
            <span></span>
        </label>
        <label for="box"></label>

        <div class="top_space" id="top_space">
            <form id="search_form">
                <input name="search_res" type="text" placeholder="장소, 가게명 검색" required">
            </form>
            
            <div id="weather" style="left:4%;">
                <h3 id="weatherLocate" style="position:absolute;top:6vh;left:1vw;"></h3>
                <button id="locateModify" style="position:absolute;left:17vw;top:8vh;">위치수정</button>
                <img id="weatherIcon" style="position:absolute;top:8vh;">
                <h4 id="weatherData" style="position:absolute;top:10vh;left:5vw;"></h4>
            </div>
            <style>
                input{
                    width: 90%;
                    height: 35px;
                    font-size: 15px;
                    position: relative;
                    top: 2vh;
                    left:4%;
                }
            </style>
        </div>

        <div class="main" id="main">
            <!-- 메인파트내용 -->
            {% block content %}
            {% endblock %}
            <!-- 끝 -->
        </div>

        <div class="map_posi" id="map_posi">
            <div id="map"></div>
        </div>
    </div>

    
    <!-- 자바스크립트 시작 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        let markers= new Array();
        const markers_x= [];
        let markers_y= new Array();
        let markers_name= new Array();
        var position_test=[];
        var db = "{{restaurant_db}}";
        let lat=0;
        let lng=0;
        var position_test=0;
        var locations = "{{restaurant_db}}".replace(/&quot;/g, '"');
        var test_data=locations
        const API_KEY = "7ab08d887f92df7bd79920dcb019c6a2"; //날씨 api키
        console.log(locations,test_data)
        for(i in test_data){
            console.log(test_data[i])
        }

        function getLocate(lat, lng){  //위치정보와 날씨 가져오기
            naver.maps.Service.reverseGeocode({
                coords: new naver.maps.LatLng(lat, lng),
            }, function(status, response) {
                if (status !== naver.maps.Service.Status.OK) {
                    return alert("주소가 잘못되었습니다. 다시입력해주세요");
                }
                var result = response.v2, // 검색 결과의 컨테이너
                    address = result.address; // 검색 결과로 만든 주소
                
                const weatherUrl = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lng}&appid=${API_KEY}&units=metric`; //날씨 api가져옴
                fetch(weatherUrl)
                    .then(res => res.json())
                    .then(data => {
                        const temp = data.main.temp;
                        const weathers = data.weather[data.weather.length -1];
                        const weatherSpan = document.getElementById("weatherData");
                        const weatherLocate = document.getElementById("weatherLocate");
                        const weatherIcon = document.getElementById("weatherIcon");
                        
                        weatherLocate.innerText= address.jibunAddress;
                        weatherSpan.innerHTML = `온도: ${temp}&#176;C 날씨:${weathers.main}`;
                        weatherIcon.src = `https://openweathermap.org/img/wn/${weathers.icon}@2x.png`;
                });
                var map = new naver.maps.Map('map', {
                    center: new naver.maps.LatLng(lat,lng),
                    zoom: 17
                    });
                var marker1 = new naver.maps.Marker({
                    position: new naver.maps.LatLng(lat, lng),
                    map: map
                });
                $.ajax({
                    url:"{% url 'getdata'%}",
                    dataType: "json",
                    success: function (data) {
                        console.log(data)
                        for (var i = 0; i < data.length; i++) {
                            markers_x.push(data[i].fields.x)
                            markers_y.push(data[i].fields.y)
                            markers_name.push(data[i].fields.name)
                            console.log(data[i].fields.x,data[i].fields.y,data[i].fields.name)
                        }
                        for (var i=0; i<2;i++){
                            console.log(markers_y[i],markers_name[i])
                            var marker=new naver.maps.Marker({
                                position: new naver.maps.LatLng(markers_x[i],markers_y[i]),
                                map: map,
                                title:markers_name[i]
                            });
                        }
                    },
                    error: function (request, status, error) {
                        console.log('실패');
                    }
                });
            });
        }

        function onGeoSuccess(position){
            lat = position.coords.latitude;
            lng = position.coords.longitude;
            sessionStorage.setItem("location", JSON.stringify({ lat, lng }));
            getLocate(lat,lng); 
        }
        function onGeoError(){
            alert("Can't find you. No locate for you.")
        }
        if(sessionStorage.getItem("location")){
            const location = JSON.parse(sessionStorage.getItem("location"));
            getLocate(location.lat, location.lng);
        }else{
            navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
        }

        document.getElementById("locateModify").addEventListener("click", function(){  //지역수정
            var modifyAddress = prompt("현재 접속 중인 지역이 아니면 지역을 입력해주세요.");
            naver.maps.Service.geocode({
                address: modifyAddress
            }, function(status, response) {
                if (status !== naver.maps.Service.Status.OK) {
                    return alert('Something wrong!!!!');
                }
                var result = response.result, // 검색 결과의 컨테이너
                    items = result.items; // 검색 결과의 배열
                if(items[0] === undefined)
                    return alert("주소를 잘못 입력하셨습니다. 다시 입력해주세요");
                const lng = parseFloat(items[0].point.x);
                const lat = parseFloat(items[0].point.y);
                sessionStorage.setItem("location", JSON.stringify({ lat, lng }));
                getLocate(lat,lng);
            });
        });


        console.log(markers_x,markers_y)
        console.log(position_test)

    </script>
    <script type="text/javascript">


    </script>

    <script src="{% static 'basic.js' %}"></script>
    {% block script %}
    {% endblock %}
    <!-- 자바스크립트 끝 -->
</body>
<table class="json" style="padding:10px">
    <tr>
        <th>name</th>
        <th>x</th>
        <th>y</th>
        <th>ratenum</th>
        <th>ratetext</th>
    </tr>
    {% for restaurant in restaurant_db%}
        <tr>
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.x}}</td>
            <td>{{restaurant.y}}</td>
            <td>{{restaurant.ratenum}}</td>
            <td>{{restaurant.ratetext}}</td>
        </tr>
    {% endfor %}
</table>

</html>
