{% extends 'base.html' %}

{% block content %}

<!--게시글(POST)-->
<h1 id='p_sub'>{{post.subject}}</h1>
<h3 id='p_con'>{{post.content}}</h3>
<h5 id='p_date'>작성일 : {{post.create_date}}</h5>
<h5 id='p_user'>작성자 : {{post.user}}</h5>

<!--댓글(COMMENT)-->
{%for comment in post.comment_set.all%}
  <hr>
  <p>댓글 {{forloop.counter}}</p>
  <h3>{{comment}}</h3>
  <h5>{{comment.create_date}}</h5>
  <h5 id='c_user'>{{comment.user}}</h5>
  <hr>
{%endfor%}

<!--댓글(COMMENT) 작성 칸-->
<form action="{%url 'main:comment_create' post.id%}" method="post">
  {% csrf_token %}
  <!--근데 textarea에서 쓴 댓글이 input에 연결되는 걸 어케 하지?-->
  <div class="mb-3">
    <label for="content" class="form-label">댓글 달기</label>
    <textarea class="form-control" name="content" id="comment_content" rows="10">{{form.content.value|default_if_none:''}}</textarea>
  </div>
  <!--여기서 input에 href로 sns/comment/<int:post_id>/ 연결하면 되지 않을까?-->
  <button type="submit" class="btn btn-primary">댓글 등록</button>
  <button type="button" class="btn btn-primary" onclick="location.href='{% url 'main:sns' %}'">뒤로 가기</button>
</form>
{% endblock %}
