{% extends 'base.html' %}

{% block content %}
<!--게시글 작성 html-->
<!--제목-->
<div class="create_post">
  <h3>게시글 작성</h3>
  <form action="{%url 'main:post_create'%}" method='post'>
    {%csrf_token%}
    <!--오류 표시-->
    {% include "form_errors.html" %}
    <!--게시글-->
    <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <input type="text" class="form-control" name="subject" id="post_subject" value="{{form.subject.value|default_if_none:''}}">
    </div>
    <hr>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea class="form-control" name="content" id="post_content" rows="10">{{form.content.value|default_if_none:''}}</textarea>
    </div>
    <button type="submit" class="btn btn-post">올리기</button>
    <button type="button" class="sns_button" onclick="location.href='{% url 'main:sns' %}'">뒤로 가기</button>
  </form>
</div>

{% endblock %}